{% extends 'base.html' %}

{% block head %}
<meta charset="UTF-8">
<title>VIDEOS</title>
{% endblock %}



{% block body %}
    <div style="background:linear-gradient(#00796B, #00bb7b)">
        <table>
            <tr>
                <td><center>
                     <h1 style="color: white">YOUTUBE ANALYSIS</h1>
                </center>
                </td>
            </tr>
        </table>
</div>

    <div style="max-width :70%; background : white">
<center><h1> An error occured </h1></center>
      <h3> Please try again another channel to check the app </h3>

{% endblock %}